<%= form_for(@weather_condition) do |f| %>
  <% if @weather_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weather_condition.errors.count, "error") %> prohibited this weather_condition from being saved:</h2>

      <ul>
      <% @weather_condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :temperature %><br>
    <%= f.number_field :temperature %>
  </div>
  <div class="field">  
    <%= f.label :rain %><br>
    <%= f.number_field :rain%>
  </div>
  <div class="field">
    <%= f.label :wind %><br>
    <%= f.number_field :wind %>
  </div>
  <div class="field">  
    <%= f.label :avalanche_danger_level %><br>
    <%= f.number_field :avalanche_danger_level %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
