<p id="notice"><%= notice %></p>

<p>
  <strong>X:</strong>
  <%= @danger_zone.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @danger_zone.y %>
</p>

<%= link_to 'Edit', edit_danger_zone_path(@danger_zone) %> |
<%= link_to 'Back', danger_zones_path %>
